
* {
  box-sizing: border-box;

  /* border: 1px solid red; */
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: hsl(185, 75%, 39%);
  background-origin: border-box;                    
  background-repeat: no-repeat;
  background-image: 
    url("images/bg-pattern-top.svg"), 
    url("images/bg-pattern-bottom.svg");
  background-position: 
    right 50vw top -75vh,
    left 50vw top 50vh;
    color: hsl(229, 23%, 23%);
  font-family: 'Kumbh Sans', sans-serif;
}

.card {
  background-color: white;
  border-radius: 1rem;
  height: 365px;
  margin: 30% auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 350px;
}

.name, .age {
  font-size: 18px;
  margin-bottom: .66rem;
}

.city, .age {
  color: hsl(227, 10%, 46%);
  font-weight: 400;
}

.age {
  margin-left: 0.25rem;
}

.city {
  font-size: .86rem;
  /* border: 1px solid fuchsia; */
}

.wallpaper {
  background-color: white;
  background-image: url("images/bg-pattern-card.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 37.5%;
  width: 100%;
}

.profile-picture {
  display: inline-block;
}

div.profile-picture img {
  border: 5px solid white;
  border-radius: 50%;
  margin-top: -50%;
  vertical-align: bottom;
}

.stats {
  position: absolute; 
  bottom: 0;
  padding: 1.2rem;
  width: 100%;

  border: none;
  border-top: 1px solid hsl(227, 10%, 46%, 0.16);
  /* border: 1px solid hotpink; */
}

.stats-section {
  display: inline-block;
  margin: auto;
  width: 30%;
}

.stats-title {
  font-weight: bold;
  font-size: 18px;
}

.stats-subtext {
  color: hsl(227, 10%, 46%);
  font-size: 0.66rem;
  letter-spacing: 1px;
  margin-top: 0.4rem;
}

hr {
  color: hsl(0, 0%, 59%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}